* 
{
  box-sizing: border-box;
}

body, html {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  width: 100%;
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("Images/CatStaring.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("Images/RedChinatown.png");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("Images/RedLights.png");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  text-shadow: 2px 2px 4px #818181;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

#about-inner-div {
  margin-left: auto;
  margin-right: auto;
  color: #777;
  background-color:white;
  text-align: center;
  padding:50px 80px;
}

#work-inner-div {
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding:50px 400px;
}

#work-inner-div h3 {
  color: white;
}

#contact-div-main {
  position:relative;
  width: 100%;
}

#contact-inner-div {
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}

#contact-inner-div h3 {
  text-align:center;
  color: white;
}

form {
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

input {
  height: 32px;
  width: 600px;
  box-shadow: 2px 2px 4px #000000;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  text-align: center;
}

.live-link {
  margin-right: 20px;
}

.repo-link {
  margin-left: 20px;
}

.live-link:hover {
    background: url("Images/eye-red.png") no-repeat;
}

.repo-link:hover {
    background: url("Images/github-sign-red.png") no-repeat;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.image {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  text-shadow: 2px 2px 4px #000000;
  display: block;
}

.sidebar a:hover {
  color: rgb(230, 4, 5);
}

.sidebar>a{
  border-right: 1px solid #000;
}

.sidebar>a:last-child{
  border: none;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

.btn {
  font-family: "Lato", sans-serif;
  border: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  text-shadow: 2px 2px 4px #000000;
  background-color: rgb(207, 0, 30);
  padding: 17px 60px;
  margin: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: rgb(228, 1, 35);
  text-shadow: 2px 2px 4px #000000;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.verticalbar {
  height: 160px;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-left: 20px;
  bottom: 0;
  right: 0;
  background-color: transparent;
  overflow-x: hidden;
  padding-top: 16px;
}

.verticalbar a {
  padding: 96px 36px 6px 16px;
  display: inline-block;
}

.verticalbar img {
  height: 50px;
  width: 50px;
}

.votes, .rank {
  display: none;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: relative;
  top: 50%;
  padding: 5px 10px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}